    <!-- About section-->
    <section class="about">
        <div class="main">
            <img src="img/passport pic.jpg" >
            <div class="about-text">
                <h2>About Me</h2>
                <h5>Web Developer</h5>
                <p> I am a self taught front-end developer who is passionate about building awesome website and application's. I have currently learned and used HTML, CSS, Vanilla Javascript. On personal level, I am self driven & hard working. I am able to adapt very quickly and overall I am very curious.
                <br>
                My current skills: 
                <br><br>                    
                HTML, CSS, Javascript
                </p>
                <button type="button">Let's Talk</button>
            </div>
        </div>
    </section>