  <!-- Contact Section -->
  <div class="wrapper">
    <div class="icon facebook">
        <div class="tooltip">Facebook</div>
        <a href="https://www.facebook.com/hafizuddinfakhrullah.suhaimi" target="_blank">
            <span><i class="fab fa-facebook-f"></i></span>
        </a>
    </div>

    <div class="icon google">
        <div class="tooltip">Google</div>
        <span><i class="fab fa-google"></i></span>
    </div>

    <div class="icon instagram">
        <div class="tooltip">Instagram</div>
        <a href="https://www.instagram.com/hafizuddinfakhrullah/" target="_blank">
            <span><i class="fab fa-instagram"></i></span>
        </a>
    </div>

    <div class="icon github">
       <div class="tooltip"> Github</div>
        <a href="https://github.com/hafizuddinfakhrullah" target="_blank">
            <span><i class="fab fa-github"></i></span>
        </a>
    </div>
</div>