    <!-- Projects Section -->
    <section id="portfolio">
        <h1 class="headings">PORTFOLIO</h1>
        <div class="gallery">
            <div class="imgThumb">
                <a href="https://joyful-dieffenbachia-bfb6c9.netlify.app/" target="_blank">
                    <img src="img/Screenshot (7).png" alt="">
                </a> 
            </div>

            <div class="imgThumb">
                <a href="https://dazzling-platypus-29d3da.netlify.app/" target="_blank">
                    <img src="img/basic calculator.png" alt="">
                </a>
            </div>

            <div class="imgThumb">
                <a href="https://courageous-twilight-80ebdf.netlify.app/" target="_blank">
                    <img src="img/image slider.png" alt="">
                </a>
            </div>        
        </div>
    </section>